<%-include("template/cabecera", {tituloweb : "Pagina de servicio"}) %>
<body>
    <h2 class="text-success">Pagina de servicios</h2> 
    <h1 class="text-danger"><%= tituloServicios %></h1>
</body>
</html>